div#download
  a.bundle(href='https://github.com/untv/untv/releases') Download UNTV
  span or
  a(href='/api.html') Read API Documentation
  p.version Latest release: <span class="semver">...</span>
script(type='text/javascript', src='/scripts/download.js')
