footer
  div.dark-overlay
    div.constrain
      ul.left
        li
          a(href='/api.html') API Documentation
        li
          a(href='https://github.com/untv') Fork us on Github
        li
          a(href='/donate.html') Support Development
      p.right 
        a(href='https://github.com/gordonwritescode') A thing by Gordon Hall
