footer
  div.dark-overlay
    div.constrain
      ul.left
        li
          a(href='/developers') Developers
        li
          a(href='https://github.com/untv') Fork us on Github
      p.right 
        a(href='https://github.com/gordonwritescode') A thing by Gordon Hall