extends layout

block content
  p.about.
    This is a blurb about UNTV.
  ul.features
    li.right
      header DRM-Free Forever
      img(src='/assets/images/open-icon-black.svg')
      p Blah blah blah
    li.left
      header Instant BitTorrent Streaming
      img(src='/assets/images/streaming-icon-black.svg')
      p Blah blah blah
    li.right
      header Local Video Library
      img(src='/assets/images/video-icon-black.svg')
      p Blah blah blah
    li.left
      header Personal Photo Gallery
      img(src='/assets/images/photo-icon-black.svg')
      p Blah blah blah
    li.right
      header Easy to Configure
      img(src='/assets/images/settings-icon-black.svg')
      p Blah blah blah
    li.left
      header Free and Open Source
      img(src='/assets/images/github-icon-black.svg')
      p Blah blah blah
    