extends layout

block content
  p.about
    | Open Source DRM-Free Media Center Platform for 
    strong Home Theater Computers
  include partials/download
  ul#features
    li.right
      header DRM-Free Forever
      img(src='/assets/images/open-icon-black.svg')
      p.
        No snooping. No digital rights management. No restrictions. 
        You are in complete control over your media.
    li.left
      header Instant BitTorrent Streaming
      img(src='/assets/images/streaming-icon-black.svg')
      p.
        Instant access to thousands of movies via Yify Torrents. Browse 
        and stream instantly to your TV or computer.
    li.right
      header Local Video Library
      img(src='/assets/images/video-icon-black.svg')
      p.
        Watch your own personal movies and TV shows. Playback support 
        for a number of popular codecs.
    li.left
      header Personal Photo Gallery
      img(src='/assets/images/photo-icon-black.svg')
      p.
        Browse your personal photo collection easily. Watch as a slideshow 
        or browse at your own pace.
    li.right
      header Easy to Configure
      img(src='/assets/images/settings-icon-black.svg')
      p.
        Make it your own through the settings interface and customize and
        tweak performance settings for your device.
    li.left
      header Free and Open Source
      img(src='/assets/images/github-icon-black.svg')
      p.
    